<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/NLog_Internal.log">

  <targets>
    <target xsi:type="File"
            name="AppTarget"
            filename="${basedir}/logs/SmartformOcxPreview_${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${longdate} | ${uppercase:${level}} | PID=${processid} | Thread=${threadid} | ${message}${onexception:inner= | ${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="AppLogger" minlevel="Debug" writeTo="AppTarget" />
  </rules>
</nlog>
